<details class="faq-box">
  <summary class="faq-question">{{ .Get 0 }}</summary>
  <div class="faq-answer">
    {{ .Inner | markdownify }}
  </div>
</details>

<style>
/* FAQ Box Styling */
.faq-box {
  border: 2px solid #b7c1cb;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

/* Question Styling */
.faq-question {
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  padding: 10px;
}

/* Answer Styling */
.faq-answer {
  padding-top: 10px;
  border-top: 2px solid #d4d2d2;
}
</style>